//set some vars...
$white: #fff;
$black: #030403;//don't use straight black, too POWERFUL

$lightGray: #e2e7e9;
$gray: #a3a8ab;
$darkerGray: #333433;
$darkGray: #525453;

$green: #005953;
$blue: #08c;
$red: #9d261d;